body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4C6375;
    color: #F8F8F8;
    padding: 10px 20px;
    text-align: center;
    padding-top: 50px;  /* 메뉴 아이콘 공간 확보를 위한 패딩 추가 */
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
    font-size: 1.1em;
}

h2 {
    color: #4C6375;
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 10px 0;
    text-indent: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #4C6375;
    color: #F8F8F8;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#menu-icon {
    font-size: 30px;
    position: fixed;  /* 메뉴 아이콘을 화면에 고정 */
    top: 15px;  /* 상단에서 15px 떨어진 위치에 배치 */
    left: 15px;  /* 왼쪽에서 15px 떨어진 위치에 배치 */
    cursor: pointer;  /* 마우스 커서를 포인터로 변경 */
    z-index: 1001;  /* 다른 요소 위에 표시되도록 z-index 설정 */
}
#navbar {
    display: none;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 0;  /* 초기 높이를 0으로 설정 */
    overflow: hidden;  /* 내용이 넘칠 경우 숨김 */
    transition: max-height 0.5s ease-out;  /* 애니메이션 효과 추가 */
    top: 50px;  /* 메뉴 아이콘 아래에 위치하도록 top 값을 조절 */
}

#navbar li {
    margin-bottom: 0;
}

#navbar a {
    text-decoration: none;
    color: #4C6375;
}

@media screen and (max-width: 768px) {
    #menu-icon {
        display: block; /* 모바일 뷰에서 메뉴 아이콘 표시 */
    }

    #navbar ul {
        text-align: center;
        background-color: #f8f8f8;
    }

    #navbar li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
}